.right-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right-container-nav-bar {
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    font-weight: bold;
}

.right-container-data-box{
    flex: 12;
    display: flex;
}

.today{
    margin-right: 10px;
    color:  #c5c5c5;
}

.week {
    color: #c5c5c5;
}

.today:hover {
    color: black;
    cursor: pointer;
}

.today-active {
    color: black;
}

.week:hover {
    color: black;
    cursor: pointer;
}

.week-active {
    color: black;
}
.underline {
    width: 50px;
    height: 1px;
    background-color: black;
    margin-top: 1.4rem;
}
.underline-today {
    transform: translate3d(-210%,0,0);
    transition: 100ms;
}

.underline-week{
    transform: translate3d(-90%,0,0);
    transition: 100ms;
}


.nav-bar-tabs {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    font-size: medium;
    font-weight: bold;
    margin-top: 10px;

}

.nav-bar-metric{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    align-items: center;
}

.celsius{
border-radius: 500px;
padding-left: 7px;
padding-right: 7px;
padding-top: 5px;
padding-bottom: 5px;
color: black;
background-color: #ffff;
font-weight: small ;
}

.fahrenheit{
    border-radius: 500px;
padding-left: 7px;
padding-right: 7px;
padding-top: 5px;
padding-bottom: 5px;
color: black;
background-color: #ffff;
font-weight: small ;
margin-left: 10px;
margin-right: 10px;
}

.celsius:hover {
    color: #ffff;
    background-color: black;
    cursor: pointer;
}

.fahrenheit:hover {
    color: #ffff;
    background-color: black;
    cursor: pointer;
}

.celsius:active{
    color: #ffff;
    background-color: black;
}
.fahrenheit:active {
    color: #ffff;
    background-color: black;
}

.profil-image img{
    width: 40px;
    height: 40%;
    border-radius: 5px;
    margin-left: 10px;
}

.right-container-data-box {
    flex: 12;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.right-container-week-cards {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 560px;
    height: 95px;
}

.card {
    width: 75px;
    height: 95px;
    background-color: #ffff;
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    font-size: x-small;
    font-weight: 500;
}

.card-day {
    margin: 5px;
    margin-top: 7px;
}

.card-tempo-value {
    margin: 5px;
}

.card-temp-img img {
    width: 40px;
    height: 40px;
}


.right-container-today-cards {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.right-container-todays-highlight {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.right-container-todays-highlight-title {
    flex: 2;
    margin-top: 10px;
    padding: 10px;
    font-size: small;
    font-weight: bold;
}

.right-container-todays-highlight-cards {
    flex: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 560px;
    margin-top: 0px;
    flex-wrap: wrap;
}

.right-container-todays-highlight-card{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 10px;
    width: 180px;
    height: 130px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 3px;
}


.gauge {
    flex: 2;
    width: 50%;
    max-width: 180px;
    font-size: 32px;
    color: #004033;
    font-weight: 500;
}

.gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #d8d8d8;
    position: relative    ;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
    margin-top: 1rem;
}

.gauge__fill{
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: #ffbf5e;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2 ease-out;
}
.gauge__cover{
    width: 75%;
    height: 150%;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25%;
    box-sizing: border-box;
    color: #ffffff;
}

.right-container-todays-highlight-card-title {
    flex: 1;
    color:#727272;
    text-align: left;
    justify-content: left;
    align-items: left;
    font-weight: bold;
}

.right-container-todays-highlight-value {
    flex: 1;
}

.wind-status-value {
    flex: 2;
}

.wind-status-logo{
    flex: 1;
    font-size: 64px;
    font-weight: 500;
    text-align: center;
}

.wind-status-logo img{
    width: 30px;
    height: 30px;
}

.wind-speed-value{
    font-weight: bold;
    margin-bottom: -25px;
    font-size: 20px;
}
.unit{
    font-weight: 400;
    font-size: 16px;
}
.sunrise-sunset-value {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.sunrise{
    flex: 1;
    display: flex;
    flex-direction: row;
}
.sunrise img{
    flex: 1;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.sunrise-time{
    flex: 4 ;
    font-weight: 500;

}
.sunset{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.sunset img {
    flex: 1;
    width: 25px;
    height: 25px;
}
.sunset-time {
    flex: 2;
    font-weight: 500;
}

.wind-status-value {
    font-weight: 500;
    font-size: 22px;
    font-weight: bold;
}
.wind-status-value sup{
    font-weight: 400;
    font-size: 18px;
}

.humidity-summary {
    font-size: small;
    font-weight: 500;
    margin-bottom: 20px;
}

.unit-last {
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
}